# 기본 내장 함수

In [1]:
#변수 생성
#variable name = data
a= 3

In [2]:
#print
print(a)

3

In [3]:
# data type 확인 
#int = 정수 float = 실수 , str = 문자열 
type(a)

int

# 숫자형

In [4]:
a= 123
a

123

In [6]:
b= 3.14 # 실수값 
b, type(b)  #b의 type까지 출력하기

(3.14, float)

In [8]:
#참고 
a= 0o10 #8진법 숫자데이터 
b= 0x23  # 0x <- 16진법
a,b

(8, 35)

In [10]:
#number - operator 
#사칙연산 대표적 
a= 3
b= 8 
# +, -,*,/ -> 덧셈 뺄 셈 곱셉 나눗셈
a+b, a-b

11

In [11]:
#python 의 연산자 
a%b, a **b , a//b  # 나머지 , a의b승, 몫

(3, 6561, 0)

### 문제 1

홍길동의 시험 점수가 다음과 같을 때, 총점과 평균을 구하세요.

국어 : 80, 수학 : 75, 영어 : 95

In [12]:
total = 80 +75+95
mean = total/3
print('총합 :',total,'평균 :',mean)

총합 : 250 평균 : 83.33333333333333

### 문제 2

시간을 **'초'** 단위로 **입력**받아서 시간, 분, 초 단위로 출력해보세요.

예) 
>입력 : 4000초

>출력 : 1시간 6분 40초

In [ ]:
time = input('시간을 초 단위로 입력하세요')
time = int(time) # 입력받은 초 단위 시간을 숫자(정수) 데이터로 변환

hour = 
minute = 
second = 

print(hour,minute,second)

---

# 문자형

In [14]:
#string create 방법
#3가지 방법
a= 'hello python'
a, type(a)

('hello python', str)

In [15]:
b= "hello python"
b

'hello python'

In [18]:
#여러 줄에 걸친 문자열 
c = '''hello   #multiline
python'''
print(c)  #줄 바뀐 상태에서 그대로 출력하고 싶을때 무조건 print() 함수를 써야 된다 
c    # 이렇게 출력하면  \n 같이 출력됨

hello
python

'hello \npython'

In [21]:
d= 'l'm a boy'
d

SyntaxError: invalid syntax (<ipython-input-21-b6a4c1b615c2>, line 1)

In [23]:
d= "l'm a boy"    
d

"l'm a boy"

In [24]:
#문장 안의 따옴표 앞에 \ 를 붙여준다 
d= 'l\'m a boy'
d

"l'm a boy"

In [25]:
#문자열 연산
str1 = 'python'
str2 = 'hello'
#뎃셈
str1+str2

'pythonhello'

In [26]:
#multiplication 
str1 *10

'pythonpythonpythonpythonpythonpythonpythonpythonpythonpython'

In [28]:
#문자열은 순서를 가지고 있는 시퀀스 데이터 타입
# 순서를 나타내는 index 를 가진다 
message = "20210805 , saurav, 20, boy"

In [32]:
#1.indexing - 한 지점의 data 
#사용 - 변수[index]
message[23]

'b'

In [33]:
# slicing - 한 구간의 데이터 
# 사용 - 변수[시작 인덱스: 마지막의 index+1]
message[0:8]

'20210805'

In [36]:
#시작인덱스 = 처음<- 생략 가능 
message[:8]
#마지막 index가 끝까지 <- 생략 가능 
message[11:]

'saurav, 20, boy'

In [37]:
# 문자열 포맷팅 
# 문자열 안에 빈칸을 뚫고 따로 값을 채워넣을 수 있다.
# 첫번째 방법
# 빈칸을 뚫는 방법 - %데이터타입약자
# ex) %s - 문자열빈칸(string), 
#     %d - 정수빈칸(decimal), %f - 실수빈칸(float)
# 빈칸을 채워넣는 방법 - 문자열 % (빈칸에 들어갈 데이터)
"Hello, My name is %s" % "방혜찬"

'Hello, My name is 방혜찬'

In [38]:
"%d is Even " % (20)

'20 is Even '

In [39]:
"Today is %s, I visited %d times." % ("20181126", 1)

'Today is 20181126, I visited 1 times.'

In [40]:
"%10s" % "hello" # %10s - 빈칸을 10자리로 설정(뒤에서부터 채움)

'     hello'

In [41]:
"%-10s" % "hello" # %-10 - 빈칸을 10자리로 설정(앞에서부터 채움)

'hello     '

In [42]:
"%.4f" % 3.141592 # %.4f - 실수데이터를 소숫점 4자리까지 넣는다.

'3.1416'

In [43]:
# 문자열 포맷팅 두번째 방법(format 함수를 사용)
# 빈칸을 뚫는 방법 - {인덱스(순서)}
# 빈칸을 채우는 방법 - 문자열.format(빈칸에 들어갈 데이터)
"Today is {0}, I visited {1} times.".format("20200921", 1)

'Today is 20200921, I visited 1 times.'

In [44]:
# {빈칸의이름} - .format(빈칸이름=값)
"Today is {date}, I visited {count} times.".format(date="20181126", count=1)

'Today is 20181126, I visited 1 times.'

In [46]:
#inbuild function of strings
a= 'hello'
a.count('l')    # 특정 문자가 몇개가 있는지 세준다

2

In [47]:
a.find('e') # 문자가 들어간 index를 찾아준다

1

In [48]:
a.upper()

'HELLO'

In [49]:
b= "PYTHON"
b.lower()

'python'

In [63]:
#문자열 양옆에 찌꺼기값을  제거 
c= '     python    '
c
c.strip()

'python'

In [64]:
#한쪽에제거도 가능
#왼쪽 -lstrip()
c.lstrip()

'python    '

In [65]:
#오른쪽 - rstrip()
c.rstrip()

'     python'

In [67]:
#치환 함수 
d= "2012.08.20"
d.replace('.', '-')

'2012-08-20'

In [68]:
d.replace('.', '')

'20120820'

In [70]:
#split 문자열을 특정 문자열를 기준으로 쪼개준다
d.split('.')   #array 형태로 변환해준다

['2012', '08', '20']

### 문제 1
다음과 같은 문자열을 한번에 출력하시오.

```
Life is too short
You need Python
```

In [71]:
str1 = '''Life is too short
You need Python'''

print(str1)

Life is too short
You need Python

### 문제 2
다음 주민등록번호에서 생년,월,일을 출력하시오.

```
881120-1068234
```

In [79]:
birth = "881120-1068234"

year = birth[0:2]
month = birth[3:5]
day = birth[4:6]

print(year, month, day)

88 12 20

---
# 리스트

In [73]:
#array 
a= [1, 2,3,4,5]
a, type(a)

([1, 2, 3, 4, 5], list)

In [81]:
#list indexing slicing 사용 가ㅡㄴㅇ 
a[0], a[-2:]

(1, [4, 5])

In [83]:
b= [9,8,7,6,5]

In [85]:
a+b  , a*4

([1, 2, 3, 4, 5, 9, 8, 7, 6, 5],
 [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5])

In [88]:
#list 요소 추가 / 삭제
a.append(6)
a

[1, 2, 3, 4, 5, 6, 6, 6]

In [95]:
a.remove(5)
a

[1, 2, 3, 4]

In [99]:
b= [2,3,1,5,6]
#정렬
b.sort()
b

[1, 2, 3, 5, 6]

In [100]:
b.reverse()
b

[6, 5, 3, 2, 1]

In [101]:
#count 함수
b.count(3)

1

### 문제 1
다음의 리스트를 내림차순으로 정렬하세요.

```
[5,1,2,4,7,8,6,3,9,10]
```

In [105]:
numbers = [5,1,2,4,7,8,6,3,9,10]

# 내림차순 정렬 코드 작성

numbers.sort(reverse=True)
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

---
# 튜플

In [106]:
a= (1,2,3,4,5)
a, type(a)

((1, 2, 3, 4, 5), tuple)

In [107]:
#tuple 순서를 가진 데이터 타입
a[0], a[-1], a[0:2]

(1, 5, (1, 2))

In [108]:
# 수정이 불가능하다
# a[0] = 3

TypeError: 'tuple' object does not support item assignment

---
# 딕셔너리

In [117]:
#list, tuple 과는 다르다
#사전 형태로 구조
#단어 -뜻 <=> KEY:VALUE
#순서가 안ㄴ 항목별로 데이터를 저장
# 사람의 이ㅡㄹㅁ, 전화번호 , 생년월일
# 순서대로 저장하기 보다 항목별로 저장하는게 효율적
person ={"name":"saurav", "phone":"034343", "birth":"1998332"}
person, type(person)

({'name': 'saurav', 'phone': '034343', 'birth': '1998332'}, dict)

In [110]:
#항목별 조회 
#indexing 과 비슷하다 
#변수['KEY']
person['birth']

'1998332'

In [111]:
#어떤 ㅏ됴RK DLTSMSEEL WHghl
person.keys()

dict_keys(['NAME', 'phone', 'birth'])

In [112]:
#어떤 VALUE RK DLTSMSwl whghl 
person.values()

dict_values(['saurav', '034343', '1998332'])

In [115]:
#key_value 쌍을 조회 
person.items()

dict_items([('NAME', 'saurav'), ('phone', '034343'), ('birth', '1998332')])

In [118]:
'name' in person

True

In [119]:
'email' in person

False

In [1]:
#특정 KEY DML ㅍ미ㅕㄷ FMF TNWJD
#변수[key]= data

### 문제1 
다음 표를 보고 각 학점별 점수를 딕셔너리로 만드시오.

|학점|점수|
|---|---|
|A|90|
|B|80|
|C|70|

In [ ]:
score = 

print('A학점 : %d 점' % ( ))
print('B학점 : %d 점' % ( ))
print('C학점 : %d 점' % ( ))