# 조건문

## 조건문이나 반복문에서 실행할 내용을 block 처리를 해줘야한다.

## block의 설정을 들여쓰기(indent)를 통해서 설정한다.

# if-else 구조

```
if 조건문:
    수행할 문장1
    수행할 문장2
    ...
else:
    수행할 문장A
    수행할 문장B
    ...
```

In [3]:
#숫자가 짝수가 맞는지 체크
#조건1 = 짝수인지 확인
a= 10 

if (a%2)==0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

짝수입니다.

In [4]:
#양수인 경우에만 흘짝 체크
#1. 홀짝 체크
#2. 양수 /음수 체크 

a= -10 
if(a<=0):
    print("음수나 0입니다.")
elif (a%2)==0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

음수나 0입니다.

### 비교연산자들

In [6]:
x= 1
y= 2
x>y

False

In [7]:
x<y

True

In [8]:
x==y

False

In [9]:
x!=y

True

In [10]:
x<=y

True

In [11]:
x>=y

False

In [13]:
#& - and, | -or
(x<y) | (x==y)

True

In [14]:
#in - group operator
x in [1,2,3,4,5]

True

# if-elif-else 구조
```
If <조건문>:
    <수행할 문장1> 
    <수행할 문장2>
    ...
elif <조건문>:
    <수행할 문장1>
    <수행할 문장2>
    ...
elif <조건문>:
    <수행할 문장1>
    <수행할 문장2>
    ...
...
else:
   <수행할 문장1>
   <수행할 문장2>
   ... 
```

# 문제1
홍길동씨는 n원 돈을 가지고 있다고 한다.
홍길동씨는 택시를 타고 목적지까지 가려고 한다.
목적지까지 가기 위해서는 4,000원 이상의 현금을 가지고 있어야 한다고 한다. 
홍길동씨는 택시를 탈 수 있는지를 판별할 수 있는 조건식을 작성하고 그 결과를 출력하시오.

홍길동씨가 소유한 금액은 입력 함수를 통해 주어진다.

In [15]:
money = int(input('홍길동씨의 소유금액을 입력해주세요\n'))
print('홍길동씨의 잔고는 %d 원 입니다.' % money)

# 아래 if문의 조건식을 완성시켜주세요!!
if ( money>4000):
    print('택시를 탈 수 있습니다!!!!')
else:
    print('걸어가세요...')

홍길동씨의 소유금액을 입력해주세요
5000
홍길동씨의 잔고는 5000 원 입니다.
택시를 탈 수 있습니다!!!!

# 문제2
두 사람의 나이(ex. 32)를 입력받아서 두 사람의 나이를 비교해보자.

In [16]:
personA = int(input('A씨의 나이를 입력해주세요\n')) # \n - 줄바꾸기 특수문자열
personB = int(input('B씨의 나이를 입력해주세요\n'))

# 아래 빈 괄호 안의 조건식을 완성시켜주세요!
if (personA>personB ):
    print('A씨가 더 연장자입니다!')
elif (personB>personA ):
    print('B씨가 더 연장자입니다!')
else:
    print('A씨와 B씨는 동갑내기입니다!')

A씨의 나이를 입력해주세요
23
B씨의 나이를 입력해주세요
23
A씨와 B씨는 동갑내기입니다!

# while 반복문

## 기본구조
```
while <조건문>:
    <수행할 문장1>
    <수행할 문장2>
    <수행할 문장3>
    ...
```

In [17]:
i = 0
# 조건을 만족하는 한 코드를 계속해서 실행한다.
while i < 5: # i가 5보다 작으면 계속해서 실행
    print(i)
    i += 1 # i = i + 1 와 똑같은 코드

0
1
2
3
4

In [18]:
# while 반복문을 사용해서 메뉴를 구현

info = """
1. Add
2. Del
3. List
4. Quit
"""
number = 0

while number != 4:
    print(info)
    number = int(input("> "))1

1. Add
2. Del
3. List
4. Quit

> 4

In [ ]:
# 10000원으로 커피랑 차를 사는 예시

money = 10000
coffee = 1500
tea = 2000

while money>0:
    menu = int(input('''어떤 음료를 구매하시겠습니까?
    1. 커피(1500원)
    2. 차(2000원)
    3. 취소
    '''))
    if menu==1:
        money -= 1500
        print('잔금 :',money)
    elif menu==2:
        money -= 2000
        print('잔금 :',money)
    elif menu==3:
        print('종료합니다.')
        break

# 문제 1
1부터 100까지의 자연수를 모두 더하고 그 결과를 출력하시오.

In [ ]:
i = 1
total = 0
# 아래의 조건식을 완성해보세요
while (i<=100):
    # 반복문을 완성시켜주세요!
    total+=i
    i=i+1
print(total)

# 문제 2
1부터 1000까지의 자연수 중 3의 배수의 합을 구하시오.

In [ ]:
i = 1
total = 0

while i<=1000:
    # i가 3의 배수인 경우의 조건식을 완성해주세요!
    if ( ): # 3의 배수인 경우만 누적!
        total += i
    i += 1

print(total)

# for 문

In [19]:
numbers =[10,20,30,40,50]
for num in numbers:
    print(num)

10
20
30
40
50

In [28]:
#학생 10명의 수학 점수를 출력한다
#학생의 번호와 점수를 같이 출력
#1번 하생 : 90점
math= [90,60,40,76,98,34,56,77]
#python ㄹfor 문에서 data 와 index를 같이 사용하고 싶을때
for i, m in enumerate(math):
    print('{index}번 학생 :{score}점'.format(index=i+1, score=m))

1번 학생 :90점
2번 학생 :60점
3번 학생 :40점
4번 학생 :76점
5번 학생 :98점
6번 학생 :34점
7번 학생 :56점
8번 학생 :77점

In [34]:
#위의 학생들 수학점수를 사용 
#60이상 -> 1번 학생 합격
# 60점 미만 -> 1번 학생 불합격
#enumerator [구간]
math= [90,60,40,76,98,34,56,77]
#python ㄹfor 문에서 data 와 index를 같이 사용하고 싶을때
for i, m in enumerate(math):
    if(m>=60):
        print('{index}번 학생 합격'.format(index=i+1))
    else:
        print('{index}번 학생 불합격'.format(index=i+1))

1번 학생 합격
2번 학생 합격
3번 학생 불합격
4번 학생 합격
5번 학생 합격
6번 학생 불합격
7번 학생 불합격
8번 학생 합격

In [38]:
#숫자 배열 생성
#숫자 1부터 1000까지 출력
#[1, 2,3 4,,,,,1000]
#range(시작숫자, 마지막숫자 , 간격)
#1-1000
for num in range(1, 10,1):
    print(num)

1
2
3
4
5
6
7
8
9

# 문제1 
1부터 1000까지의 숫자의 합을 for문을 이용하여 출력하시오.
구간은 range 함수로 정의합니다!

In [12]:
total = 0
# 아래 반복문의 구간을 작성해주세요!
# 1부터 100까지
for i in range(1000):
    total += i
print(total)

500500

# 문제2
for문을 이용하여 1부터 1000까지의 자연수 중 5의 배수에 해당되는 자연수들의 총합을 구하시오.

In [31]:
total = 0

# 아래 반복문의 구간을 작성해주세요!
# 1부터 1000까지
for i in range(1000):
    # 아래 조건을 완성해주세요!
    # 5의 배수인 경우
    if ( i%5)==0:
        total += i
print(total)

99500

# 문제3
for문을 이용하여 A 학급의 평균 점수를 구해 보자.
```
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
```

In [ ]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    # 점수의 합산을 구하는 코드 작성!
    

print('A반의 평균점수는 %f 점 입니다.'%(total/len(A)))

# 문제4
다음은 학생들의 혈액형(A, B, AB, O)에 대한 데이터이다.
```
['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']
```
for 문을 이용하여 각 혈액형 별 학생수의 합계를 구하시오.

In [ ]:
blood_type = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']
A = 0
B = 0
AB = 0
O = 0

# 아래 반복문의 구간과 변수이름을 작성해주세요!
for ( ) in ( ):
    if blood=='A':
        A+=1
    elif blood=='B':
        B+=1
    elif blood=='AB':
        
        AB+=1
    else:
        O+=1
        
print('A형 : %d명, B형 : %d명, AB형 : %d명, O형 : %d명' %(A, B, AB, O))

In [28]:
blood_type = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']
A = 0
B = 0
AB = 0
O = 0

# 아래 반복문의 구간과 변수이름을 작성해주세요!
for blood in blood_type:
    if blood=='A':
        A+=1
    elif blood=='B':
        B+=1
    elif blood=='AB':
        
        AB+=1
    else:
        O+=1
        
print('A형 : {0}명, B형 : {1}명, AB형 : {2}명, O형 : {3}명'%(A, B, AB, O)) 
print()

A형 : 3명, B형 : 3명, AB형 : 3명, O형 : 3명

In [24]:
hullack =['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']

d={'A':2, 'B':1, 'o':1}

for f in hullack:
    if f in d:
        d[f] = d[f] + 1
    else:
        d[f] = 1

print(d)

{'A': 3, 'B': 3, 'O': 3, 'AB': 3}